MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=nexora
CORS_ORIGINS=http://localhost:5173
GOOGLE_CLIENT_ID=240930111466-gvn2vnn0r91bkfo8tlpns2b9a7a998ai.apps.googleusercontent.com
JWT_SECRET=super-secret-nexora-key-change-me
